<button *ngIf="lectures" type="button" class="btn btn-danger btn-sm" modal-trigger data-new-lecture>Add New Lecture</button>
<table *ngIf="lectures.length>0" class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lecture of lectures">
        <th scope="row">{{lecture.id}}</th>
        <td>{{lecture.description}}</td>
        <td><button type="button" class="btn btn-danger btn-sm" (click)="selectLecture(lecture.id)">Select</button></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="lectures.length<1">
    <sub>No lectures yet. Please Add One.</sub>
  </div>

<userlist-modal title="Add New Lecture">
    <form #createLectureForm="ngForm" (ngSubmit)="addLecture(createLectureForm.value)" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            Enter lecture name
          </div>
        <div class="form-group mx-sm-3 mb-2">
          <input (ngModel)="lectureName" name="lectureName" type="text" class="form-control" placeholder="e.g French">
        </div>
        <button type="submit" class="btn btn-danger btn-sm">Create Lecture</button>
      </form>
</userlist-modal>